In [12]:
import pandas as pd
data = pd.read_csv('car_evaluation.csv')
data.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [2]:
from collections import Counter
Counter(data.outcome)

Counter({'acc': 384, 'good': 69, 'unacc': 1210, 'vgood': 65})

In [3]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
data.buying = enc.fit_transform(data.buying)
data.maint = enc.fit_transform(data.maint)
data.lug_boot = enc.fit_transform(data.lug_boot)
data.safety = enc.fit_transform(data.safety)
data.head()

   buying  maint  doors  persons  lug_boot  safety outcome
0       3      3      2        2         2       1   unacc
1       3      3      2        2         2       2   unacc
2       3      3      2        2         2       0   unacc
3       3      3      2        2         1       1   unacc
4       3      3      2        2         1       2   unacc

In [4]:
X = data.iloc[:,:-1]
y = data.outcome
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=10)

In [9]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=7)
model.fit(X_train, y_train)
y_predict = model.predict(X_test)

In [10]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_predict))
pd.crosstab(y_test,y_predict)

0.9364161849710982

col_0    acc  good  unacc  vgood
outcome
acc       89     1     12      0
good       6    14      1      0
unacc      8     0    363      0
vgood      4     0      1     20