In [2]:
import pandas as pd
data = pd.read_csv('hp_data.csv')
data.head(3)

,Unnamed: 0,price,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk
0,1341,6300000,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1
1,2126,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3
2,816,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2

In [8]:
X = data.loc[:,['sqft','totalFloor','yearsOld','bhk']]
y = data.price
X.head()

   sqft  totalFloor  yearsOld  bhk
0  1450           4         5    1
1  2190           5         5    3
2  1019           5         1    2
3  1857           5        15    4
4  2190           5         5    3

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,
                                                   test_size=0.3,
                                                   random_state=10)
print("X_train Shape :", X_train.shape)
print("X_test Shape :", X_test.shape)
print("y_train Shape :", y_train.shape)
print("y_test Shape :", y_test.shape)

X_train Shape : (2450, 4)
X_test Shape : (1050, 4)
y_train Shape : (2450,)
y_test Shape : (1050,)

In [10]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)  # Training
y_predict = model.predict(X_test) # Predict for Test

In [11]:
from sklearn.metrics import r2_score
r2_score(y_test, y_predict)

0.8559346210956009

Regression -> r2_score, mean_squared_error
Classification -> accuracy_score, precision,  recall