In [2]:
import pandas as pd
data = pd.read_csv('car_evaluation.csv')
data.head(2)

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc

In [11]:
X = data.iloc[:,:-1]
y = data.outcome
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
X.buying = enc.fit_transform(X.buying)
X.maint = enc.fit_transform(X.maint)
X.lug_boot = enc.fit_transform(X.lug_boot)
X.safety = enc.fit_transform(X.safety)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3,
                                                   random_state=10)

In [18]:
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
model = SVC(kernel='rbf', C = 10, gamma = 0.5)
model.fit(X_train, y_train)
y_predict = model.predict(X_test)
print(accuracy_score(y_test,y_predict))
pd.crosstab(y_test, y_predict)

0.9980732177263969

col_0    acc  good  unacc  vgood
outcome
acc      101     0      1      0
good       0    21      0      0
unacc      0     0    371      0
vgood      0     0      0     25